* {
    margin: 0;
    padding: 0;
    font-family: Inter,
        system-ui,
        sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

:root {


    /*linear-gradient(96deg, var(hsl(191, 95%, 55%)) 0%, var(hsl(280, 100%, 70%)) 100%);  */
    /* Colors */
    --color-primary: hsl(191, 95%, 55%);
    --color-secondary: hsl(280, 100%, 70%);
    --color-bg-main: #0b0e13;
    --color-bg-button: #0b0e13;
    --color-bg-hover: hsla(220, 25%, 8%, 0.8);
    --color-text: #f8fafc;
    --color-text-muted: #94a6b8;
    --color-text-accent: #1fd1f9;
    --color-border-primary: #1fd1f933;
    --color-border-accent: #00bfff4d;

    /* Gradients */
    --gradient-primary: linear-gradient(96deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --gradient-secondary: linear-gradient(102deg, var(--color-primary) 20%, var(--color-secondary) 100%);
    --gradient-accent: linear-gradient(334deg, var(--color-secondary) 46%, var(--color-primary) 60%);

    /* Backgrounds */
    --bg-accent: #1FD1F91A;
    --bg-tech: #201339;

    /* Effects */
    --shadow-glow: 0 0 100px rgba(0, 191, 255, 0.3);
    --shadow-button: 0 0px 32px 24px rgba(0, 191, 255, 0.2);
    --shadow-inset: inset 0 0px 33px 37px rgba(0, 191, 255, 0.2);

    /* Spacing */
    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    /* Border Radius */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 22px;
    --radius-full: 10000px;

    /* Typography */
    --font-size-xs: 14px;
    --font-size-ssm: 15px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-llg: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 30px;
    --font-size-2xl: 48px;
    --font-size-3xl: 96px;

    /* Animation */
    --transition-fast: 200ms ease-in-out;
    --transition-normal: 300ms ease-in-out;
    --transition-slow: 500ms ease-in-out;
}

.coloredText {
    background: var(--gradient-primary);
    background-clip: text;
    color: transparent;
}

header svg {
    height: 16px;
    width: 16px;
}

/* 
body {
    height: 1200vh;
    background-color: var(--color-bg-main);
    overflow-x: hidden;
} */


/* Navbar start  */
/* header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */

.nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    max-width: 1400px;
}

/* 
.nav-bar.scrolled {
    background: rgba(15, 23, 42, 0.8);
    border-bottom: 1px solid rgba(0, 191, 255, 0.2);
    box-shadow: 0 20px 40px -8px rgba(0, 191, 255, 0.2);
} */
/* 
.wither {
    background: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-width: 900px;
    max-width: 1352px;
    margin: auto;
} */
/* 
.nav-1-logo>h1:hover {
    transform: scale(1.1);

} */

/* .nav-1-logo>h1 {
    background: var(--gradient-secondary);
    width: fit-content;
    background-clip: text;
    color: #ffffff00;
    cursor: default;
    transform: scale(1);
    font-size: 30px;
    font-weight: 600;
    transition: all var(--transition-fast);
} */

.nav-ics {
    color: #94a3b8;
    text-decoration: none;
    width: fit-content;
    transition: all 300ms ease;
}

.nav-ics:hover {
    box-shadow: 0 0px 40px -8px rgba(0, 191, 255, 0.2);
    transform: scale(1.1);
}


.nav-ics-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-sm);
    font-weight: 400;
}

/* .nav-2-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 532px;
    width: max-content;
    gap: 7px;
} */

.nav-ic-div-sp {
    /* font-size: var(--font-size-sm); */
    padding: 9px 12px;
    border-radius: 8px;
    background-color: var(--bg-accent);
}

header>span {
    width: 16px;
    height: 16px;
}

/* .nav-3-div-btn {
    padding: 8px 24px;
    border: 1px solid rgba(0, 191, 255, 0.3);
    border-radius: 8px;
    } */

/* .nav-3-div-btn {
    border-radius: 6px;
    font-size: var(--font-size-xs);
    font-weight: 500;
    transition: all 0.2s ease;
    height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    background: var(--color-bg-button);
    color: #f8fafc;
    border: 1px solid #00bfff4d;
}

.nav-3-div-btn:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: var(--shadow-glow);
    background-color: hsl(280 100% 70%)
} */

/* Navbar End here */
/* Main section 1 start  */
.main-sec-1 {
    background-color: transparent;
    overflow: hidden;
    height: 100vh;
    
}

.star-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0px;
}


.pratical {
    position: relative;
    height: 4px;
    width: 4px;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 191, 255, 0.3);
    border-radius: 50%;
    background-color: hsl(191, 95%, 55%);
    opacity: 0.3;
    animation: left-Right 2s 1 cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


.rotate {
    background: linear-gradient(100deg, hsla(191, 95%, 55%, 0.1) 0%, transparent 30%, hsla(280, 100%, 70%, 0.1) 60%, transparent 90%, hsla(191, 95%, 55%, 0.1) 100%);
    opacity: 0.5;
    animation: spin 9s linear infinite;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
    z-index: -10;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes left-Right {
    0% {
        top: 1400px;
        left: 1300px;
    }

    20% {
        top: 1400px;
        left: 1300px;

    }

    40% {
        top: 1400px;
        left: 1300px;
    }

    60% {
        top: 1400px;
        left: 1300px;
    }
}

/* 
@keyframes slideInTopFade {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-top {
    animation: slideInTopFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
} */

/* .hero {
    position: relative;
    color: white;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
} */
/* 
.hero-welcome {
    background-color: var(--bg-accent);
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--color-text-accent);
    border: 1px solid #1fd1f94d;
    padding: 8px 16px;
    border-radius: 10000px;
    cursor: default;
    box-shadow: var(--shadow-inset);
}

.hero-welcome:hover {
    box-shadow: var(--shadow-button);
} */

/* .hero-sec-div {
    background: var(--gradient-secondary);
    background-clip: text;
    color: #ffffff00;
    font-size: 96px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
    line-height: 1;
} */

.hero-sec-fir-div {
    font-size: 96px;
    font-weight: 700;
    background: var(--gradient-accent);
    color: #ffffff00;
    background-clip: text;
}

/* .hero-thr-div-para {
    font-size: var(--font-size-lg);
    width: 40%;
    text-align: center;
    background: transparent;
    color: #ffffff93;
    background-clip: text;
    line-height: 1.5;
} */

/* 
.hero-fort-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
} */
/* 
.hero-fort-div-btn {
    background-color: hsl(191, 95%, 55%);
    color: var(--color-bg-button);
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 6px;
    flex-direction: row;
    font-size: var(--font-size-ssm);
    font-weight: 500;
    cursor: pointer;
    gap: 6px;
    border: none;
    padding: 12px 33px;
} */


/* .hero-fort-div-btn:hover svg {
    background-color: hsl(191, 95%, 49.5%);
    transform: translateX(7px);
    transition: all 200ms ease-in;
}
 */

.hero-fort-div svg {
    height: 16px;
    width: 16px;
}

/* .hero-fort-div-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--color-bg-button);
    color: var(--color-text);
    border: 1px solid rgba(0, 191, 255, 0.3);
    padding: 12px 33px;
    border-radius: 6px;
    font-size: var(--font-size-ssm);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

}


.hero-fort-div-btn-2:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: var(--shadow-glow);
    background-color: hsl(280 100% 70%);
    transition: all 0.2s ease;
} */

/* .hero-fort-div-btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    color: rgba(248, 250, 252, 1);
    border: none;
    padding: 12px 33px;
    border-radius: 6px;
    font-size: var(--font-size-ssm);
    font-weight: 500;
    cursor: pointer;
}

.hero-fort-div-btn-3:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: var(--shadow-glow);
    background-color: hsl(280 100% 70%)
} */



/* .hero-fivt-div {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    font-size: 19px;
    margin-top: 34px;
    text-align: center;
} */

/* .color {
    color: var(--color-text-accent);
    font-size: 28px;
    font-weight: 600;
} */
/* 
.after-color {
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-text-muted);
} */

.div-fivt-thir-div {
    margin-top: 4px;
}

/* .gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
} */
/* 
.div-fivt-thri-div-fir {
    font-size: var(--font-size-lg);
} */

.mouse-scroll-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 111px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    gap: 9px;
}

.mouse-scroll-main-sec-div {
    border: 2px solid #1fd1f94d;
    height: 41px;
    width: 23px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse-scroll-main-sec-div-div {
    height: 14px;
    width: 3px;
    background: hsl(191, 95%, 55%);
    border-radius: 10px;
    animation: mouseScrollBar 3s infinite;
}

.mouse-scroll-main span {
    display: block;
    width: max-content;
    text-align: center;
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
    font-weight: 500;
}


@keyframes mouseScrollBar {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

/* main Hero section 1 End Here  */

/* main Section 2 Start Here  */


.sec-2 {
    background: var(--color-bg-main);
    height: 1150px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.sec-con {
    display: flex;
    flex-direction: column;
    width: 1300px;
    padding: 50px 0px;
    gap: 70px;
}

/* .sec-2-div-1-div-1  {} */
.sec-2-div-1-div-1-div {
    background: linear-gradient(96deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    background-clip: text;
    color: #ffffff00;
    font-size: 48px;
    font-weight: 700;

    width: max-content;
    margin: auto;
}

.sec-2-div-1-div-2 {
    font-size: var(--font-size-llg);
    color: #ffffff93;
    width: 1000px;
    margin: auto;
}

/* .sec-2-div-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */

.sec-2-div-2-div-1-div-1 {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 700;
    width: 802px;
}

.mememeoo {
    color: var(--color-text-muted);
    font-size: var(--font-size-md);
    width: 620px;
    font-weight: 400;
    line-height: 1.7;
    padding: 20px 0px 30px 0px;
    text-align: left;
}

/* .sec-2-div-1-div-1 {
    display: flex;
    flex-direction: column;
    gap: 28px;
} */

.coreooe {
    font-size: var(--font-size-llg);
    font-weight: 600;
    color: var(--color-text);
    padding: 20px 0px;
}

.technologiessss {
    background-color: var(--bg-tech);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--color-text);
    font-size: var(--font-size-sm);
    font-weight: 400;
}

.smalllleee {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.svgiii {
    color: var(--color-text-accent);
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    transform: scale(1);
    transition: all var(--transition-normal);
}


.sec-2-div-2 {
    display: flex;
}

.sec-2-div-2-div-2 {
    width: 100%;
}

.sec-2-div-2-div-2-div-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--color-border-primary);
    width: 242px;
    height: 184px;
    border-radius: 22px;
    padding: 30px;
    transition: all var(--transition-normal);
}

.sec-2-div-2-div-2-div-1:hover .svgiii {
    transform: scale(1.1)
}

.sec-2-div-2-div-2-div-1:hover {
    background-color: var(--color-bg-hover);

}

.sec-2-div-2-div-2-div-1-div-2 {
    color: var(--color-text-muted);
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.sec-2-div-2-div-2-div-1-div-1 {
    color: var(--color-text);
    font-size: var(--font-size-llg);
    font-weight: 600;
}

.sec-2-div-2-div-1 {
    width: 50%;
}


.sec-2-div-2-div-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    height: max-content;
}

.fonote {
    font-size: 36px;
}

.numbrara {
    font-size: 30px;
    color: var(--color-text-accent);
    font-weight: 700;
}

.letesttexr {
    color: var(--color-text-muted);
    font-weight: 600;
    font-size: var(--font-size-xs);
}

.sec-2-div-3 {
    display: flex;
    margin: 0px auto;
    width: 70%;
    justify-content: space-between;
    text-align: center;
}

.sasasms {
    transform: scale(1);
    transition: all var(--transition-normal);

}

.sasasms:hover {
    transform: scale(1.1);
}

.sec-3-div-1-div-1 {
    color: transparent;
    width: max-content;
    font-size: 48px;
    font-weight: 700;
}

.sec-3 {
    padding-top: 130px;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.sec-3-div-1-div-2 {
    width: 720px;
    font-size: var(--font-size-llg);
    font-weight: 400;
    text-align: center;
    color: var(--color-text-muted);
}

.sec-3-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.videooooo {
    background-image: linear-gradient(to bottom right, hsl(191 95% 55% / .2), hsl(280 100% 70% / .2));
    width: 650px;
    height: 350px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videooooo img {
    transition: all var(--transition-fast);

}

.videooooo svg {
    display: none;
}

.videooooo:hover svg {
    transform: scale(1.1);
    display: block;
}

.videooooo:hover img {
    transform: scale(1.1);
}

.videooooo:hover {
    background-image: linear-gradient(to bottom right, hsl(191 95% 55% / .15), hsl(280 100% 70% / .15));
}


.sec-3-div-2-div-2-div-1 {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
}

.sec-3-div-2-div-2-div-2 {
    color: var(--color-text-muted);
    font-size: var(--font-size-llg);
}

.sec-3-div-2-div-1-img {
    position: absolute;
    width: 640px;
    object-fit: cover;
    height: 349px;
    border-radius: 21px;
}

.botonossss1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    background-color: var(--color-primary);
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-bg-main);
    border: none;
    transition: all var(--transition-normal);
    height: 40px;
    width: 150px;
    text-decoration: none;
}

.sec-3-div-2-div-2 svg {
    height: 17px;
    width: 17px;
    transition: all 100ms ease-in;
}

.botonossss2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    gap: 20px;
    background: var(--color-bg-button);
    color: var(--color-text);
    text-decoration: none;
    border: 1px solid rgba(0, 191, 255, 0.3);
    border-radius: 10px;
    font-size: var(--font-size-xs);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
}

.botonossss2:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: var(--shadow-glow);
    background-color: hsl(280 100% 70%);
    transition: all 0.2s ease;
}

.botonossss1:hover svg {
    background-color: hsl(191, 95%, 49.5%);
    transform: rotate(45deg);
    transition: all 200ms ease-in;
}

.sec-3-div-2-div-2-div-4 {
    display: flex;
    gap: 10px;
}

.sec-3-div-2 {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.sec-3-div-2-div-2 {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.sec-3-div-4-div-1 * {
    transition: all var(--transition-slow);
}

.sec-3-div-4-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    background-color: transparent;
    border-radius: 21px;
    border: 1px solid var(--color-border-primary);
    transition: all var(--transition-fast);
    height: max-content;
    padding-bottom: 16px;
}

.sec-3-div-4 {
    margin-top: -55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 34px 0px;
    width: 100%;
    max-width: 100%;
}

.sec-3-div-4-div-1-div-1 {
    background-image: linear-gradient(to bottom right, hsl(191 95% 55% / .2), hsl(280 100% 70% / .2));
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
}

.sec-3-div-4-div-1-div-1 img {
    position: absolute;
    height: 249px;
    width: 420px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}

.sec-3-div-4-div-1-div-2-div-1-div-1 {
    font-size: var(--font-size-llg);
}

.sec-3-div-4-div-1-div-2-div-1-div-2 {
    font-size: var(--font-size-sm);
}

.megennas {
    font-size: 12px;
}

.new-botoneessss1 {
    width: 85%;
}

.new-botoneessss2 {
    width: 15%;
}

.sec-3-div-4-div-1-div-2-div-1 {
    width: 100%;
    gap: 15px;
    padding: 33px 24px 0px;
    box-sizing: border-box;
    max-width: 429.7px;
}

.sec-3-div-4-div-1-div-2 {
    height: 50%;
}

.sec-3-div-4-div-1:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 26px 4px rgb(0 123 255 / 24%);
}

.sec-3-div-4-div-1:hover .sec-3-div-4-div-1-div-1 {
    background-color: var(--color-bg-main);
    background-image: none;
}



.sec-3-div-4-div-1>.sec-3-div-4-div-1-div-1>svg {
    display: none;
}

.sec-3-div-4-div-1:hover>.sec-3-div-4-div-1-div-1>svg {
    transform: scale(1.1);
    display: block;
}


.sec-3-div-5 {
    display: flex;
    justify-content: center;
    margin-top: -31px;
    width: 100%;
}