* {
    margin: 0;
    padding: 0;
    font-family: Inter,
        system-ui,
        sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}


header svg {
    height: 16px;
    width: 16px;
}


body {
    height: 1200vh;
    background-color: #0b0e13;
    overflow-x: hidden;
}


/* Navbar start  */
header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-bar {
    position: fixed;
    width: 1400px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

/* 
.nav-bar.scrolled {
    background: rgba(15, 23, 42, 0.8);
    border-bottom: 1px solid rgba(0, 191, 255, 0.2);
    box-shadow: 0 20px 40px -8px rgba(0, 191, 255, 0.2);
} */

.wither {
    /* background: #202020; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-width: 900px;
    max-width: 1352px;
    margin: auto;
}

.nav-1-logo>h1:hover {
    transform: scale(1.1);

}

.nav-1-logo>h1 {
    background: linear-gradient(135deg, hsl(191 95% 55%) 0%, hsl(280 100% 70%) 100%);
    width: fit-content;
    background-clip: text;
    color: #ffffff00;
    cursor: default;
    transform: scale(1);
    transition: all 200ms ease-in-out;

}

.nav-ics {
    color: #94a3b8;
    text-decoration: none;
    width: fit-content;
    transition: all 300ms ease;
}

.nav-ics:hover {
    box-shadow: 0 0px 40px -8px rgba(0, 191, 255, 0.2);
    transform: scale(1.1);
}


.nav-ics-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.nav-2-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 532px;
    width: max-content;
    gap: 7px;
}

.nav-ic-div-sp {
    font-size: 16px;
    padding: 9px 12px;
    border-radius: 8px;
    background-color: #1fd1f91a;
}

header>span {
    width: 16px;
    height: 16px;
}

/* .nav-3-div-btn {
    padding: 8px 24px;
    border: 1px solid rgba(0, 191, 255, 0.3);
    border-radius: 8px;
    } */

.nav-3-div-btn {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
    height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    background: hsl(220, 25%, 6%);
    color: rgba(248, 250, 252, 1);
    border: 1px solid rgba(0, 191, 255, 0.3);
}

.nav-3-div-btn:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: 0 0 100px rgba(0, 191, 255, 0.3);
    background-color: hsl(280 100% 70%)
}

/* Navbar End here */
/* Main section 1 start  */
.main-sec-1 {
    background-color: transparent;
    overflow: hidden;
    height: 100vh;
    border-bottom: 1px solid #00bfff;
}

.star-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0px;
}


.pratical {
    position: relative;
    height: 4px;
    width: 4px;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 191, 255, 0.3);
    border-radius: 50%;
    background-color: hsl(191, 95%, 55%);
    opacity: 0.3;
    animation: left-Right 2s 1 cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


.rotate {
    background: linear-gradient(100deg, hsla(191, 95%, 55%, 0.1) 0%, transparent 30%, hsla(280, 100%, 70%, 0.1) 60%, transparent 90%, hsla(191, 95%, 55%, 0.1) 100%);
    opacity: 0.5;
    animation: spin 9s linear infinite;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
    z-index: -10;

}


@keyframes left-Right {
    0% {
        top: 1400px;
        left: 1300px;
    }

    20% {
        top: 1400px;
        left: 1300px;

    }

    40% {
        top: 1400px;
        left: 1300px;
    }

    60% {
        top: 1400px;
        left: 1300px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInTopFade {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-top {
    animation: slideInTopFade 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.hero {
    position: relative;
    color: white;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
}

.hero-welcome {
    background: #1FD1F91A;
    font-size: 14px;
    font-weight: 700;
    color: #1fd1f9;
    border: 1px solid #1fd1f94d;
    padding: 8px 16px;
    border-radius: 10000px;
    cursor: default;
    box-shadow: inset 0 0px 33px 37px rgba(0, 191, 255, 0.2);
}

.hero-welcome:hover {
    box-shadow: 0 0px 32px 24px rgba(0, 191, 255, 0.2);
}

.hero-sec-div {
    background: linear-gradient(135deg, hsl(191 95% 55%) 0%, hsl(280 100% 70%) 100%);
    background-clip: text;
    color: #ffffff00;
    font-size: 96px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
    line-height: 1;
}

.hero-sec-fir-div {
    font-size: 96px;
    font-weight: 700;
    background: linear-gradient(334deg, hsl(280 100% 70%) 46%, hsl(191 95% 55%) 60%);
    color: #ffffff00;
    background-clip: text;
}

.hero-thr-div-para {
    font-size: 24px;
    width: 40%;
    text-align: center;
    background: transparent;
    color: #ffffff93;
    background-clip: text;
    line-height: 1.5;
}


.hero-fort-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.hero-fort-div-btn {
    background-color: hsl(191, 95%, 55%);
    color: hsl(220, 25%, 6%);
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 6px;
    flex-direction: row;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    gap: 6px;
    border: none;
    padding: 12px 33px;
}


.hero-fort-div-btn:hover svg {
    background-color: hsl(191, 95%, 49.5%);
    transform: translateX(7px);
    transition: all 200ms ease-in;
}


.hero-fort-div svg {
    height: 16px;
    width: 16px;
}

.hero-fort-div-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: hsl(220, 25%, 6%);
    color: rgba(248, 250, 252, 1);
    border: 1px solid rgba(0, 191, 255, 0.3);
    padding: 12px 33px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

}


.hero-fort-div-btn-2:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: 0 0 100px rgba(0, 191, 255, 0.3);
    background-color: hsl(280 100% 70%);
    transition: all 0.2s ease;
}

.hero-fort-div-btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    color: rgba(248, 250, 252, 1);
    border: none;
    padding: 12px 33px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.hero-fort-div-btn-3:hover {
    color: rgb(36, 37, 37);
    border-color: #00bfff;
    box-shadow: 0 0 100px rgba(0, 191, 255, 0.3);
    background-color: hsl(280 100% 70%)
}



.hero-fivt-div {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    font-size: 19px;
    margin-top: 34px;
    text-align: center;
}

.color {
    color: #1fd1f9;
    font-size: 28px;
    font-weight: 600;
}

.after-color {
    font-size: 14px;
    font-weight: 400;
    color: #94a6b8;
}

.div-fivt-thir-div {
    margin-top: 4px;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div-fivt-thri-div-fir {
    font-size: 24px;
}

.mouse-scroll-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 111px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    gap: 9px;
}

.mouse-scroll-main-sec-div {
    border: 2px solid #1fd1f94d;
    height: 41px;
    width: 23px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse-scroll-main-sec-div-div {
    height: 14px;
    width: 3px;
    background: hsl(191, 95%, 55%);
    border-radius: 10px;
    animation: mouseScrollBar 3s infinite;
}

.mouse-scroll-main span {
    display: block;
    width: max-content;
    text-align: center;
    color: #94a6b8;
    font-size: 14px;
    font-weight: 500;
}


@keyframes mouseScrollBar {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

/* main Hero section 1 End Here  */

/* main Section 2 Start Here  */


.sec-2 {
    background: #0b0e13;
    height: 1150px;
    display: flex;
    justify-content: center;
}

.sec-con {
    display: flex;
    flex-direction: column;
    width: 1300px;
    padding: 50px 0px;
    gap: 70px;
}

/* .sec-2-div-1-div-1  {} */
.sec-2-div-1-div-1-div {
    background: linear-gradient(96deg, hsl(191 95% 55%) 0%, hsl(280 100% 70%) 100%);
    background-clip: text;
    color: #ffffff00;
    font-size: 48px;
    font-weight: 700;

    width: max-content;
    margin: auto;
}

.sec-2-div-1-div-2 {
    font-size: 20px;
    color: #ffffff93;
    width: 1000px;
    margin: auto;
}

.sec-2-div-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sec-2-div-2-div-1-div-1 {
    color: rgb(248, 250, 252);
    font-size: 30px;
    font-weight: 700;
    width: 802px;
}

.mememeoo {
    color: rgb(148, 166, 184);
    font-size: 18px;
    width: 620px;
    font-weight: 400;
    line-height: 1.7;
    padding: 20px 0px 30px 0px;
    text-align: left;
}

.sec-2-div-1-div-1 {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.coreooe {
    font-size: 20px;
    font-weight: 600;
    color: rgb(248, 250, 252);
    padding: 20px 0px;
}

.technologiessss {
    background-color: #201339;
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(248, 250, 252);
    font-size: 16px;
    font-weight: 600;
}

.sec-2-div-2-div-1-div-5 {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.svgiii {
    color: #1fd1f9;
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}


.sec-2-div-2 {
    display: flex;
}

.sec-2-div-2-div-2 {
    width: 100%;
}

.sec-2-div-2-div-2-div-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #1fd1f933;
    width: 242px;
    height: 184px;
    border-radius: 22px;
    padding: 30px;
    transition: all 300ms ease-in-out;
}

.sec-2-div-2-div-2-div-1:hover .svgiii {
    transform: scale(1.1)
}

.sec-2-div-2-div-2-div-1:hover {
    background-color: hsla(220, 25%, 8%, 0.8);
    
}

.sec-2-div-2-div-2-div-1-div-2 {
    color: rgb(148, 166, 184);
    font-size: 16px;
    font-weight: 500;
}

.sec-2-div-2-div-2-div-1-div-1 {
    color: rgb(248, 250, 252);
    font-size: 20px;
    font-weight: 600;
}

.sec-2-div-2-div-1 {
    width: 50%;
}


.sec-2-div-2-div-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    height: max-content;
}

.fonote {
    font-size: 36px;
}

.numbrara {
    font-size: 30px;
    color: #1fd1f9;
    font-weight: 700;
}

.letesttexr {
    color: #94a6b8;
    font-weight: 600;
    font-size: 14px;
}

.sec-2-div-3 {
    display: flex;
    margin: 0px auto;
    width: 70%;
    justify-content: space-between;
    text-align: center;
}

.sasasms {
    transform: scale(1);
    transition: all 300ms ease-in-out;
    
}

.sasasms:hover {
    transform: scale(1.1);
}